NEXT_PUBLIC_ENV="development"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/:locale/auth/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/:locale/auth/sign-up"

NEXT_PUBLIC_API_BASE_URL_PROD="https://api.abc-emergency.com"

NEXT_PUBLIC_API_BASE_URL_DEV="http://localhost:4442"